<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiKey" value="23dd74b2-f381-4657-9433-4ea66638f27d"/>
		<add key="actorLink" value="https://kinopoiskapiunofficial.tech/api/v1/staff/"/>
		<add key="filmLink" value="https://kinopoiskapiunofficial.tech/api/v2.2/films/"/>
		<add key="searchActorLink" value="https://kinopoiskapiunofficial.tech/api/v1/persons?name="/>
	</appSettings>
</configuration>